.login-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.login-form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}
.login-form-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}

.login-form-button {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #5BC0DE;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 5px;
}

.login-form-button:hover {
  background: #31A2C6;
}
.show-password {
  position: absolute;
  right: 10px;
  top: 40px;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 1rem;
  margin-top: 5rem;
  font-weight: 700;
}

.forget-password-text{
  cursor: pointer;
  padding: 5px;
  font-size: 1rem;
  text-decoration: underline
}
