.login-form-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.login-form-group label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}
.login-form-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 600;
}
.show-password {
  position: absolute;
  right: 10px;
  top: 40px;
  cursor: pointer;
}
.error {
  color: red;
  font-size: 1rem;
  margin-top: 1rem;
  font-weight: 700;
}

.forget-password-text{
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline
}
