@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;600&display=swap");
:root {
  --font-sans: 'Inter', sans-serif;
  --font-alt:  'Poppins', sans-serif;
}

body {
  font-family: var(--font-sans);
  line-height: 1.6;
}

h1, h2, h3, .brand-title {
  font-family: var(--font-alt);
  font-weight: 600;
}

#root > .app {
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
