@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

#root > .app {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
